################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/0.0.8/.vs
/0.0.8.b
/0.0.8.c
/0.0.8.d
/0.0.8.e
/0.0.8.f
